pandas
numpy
scipy
matplotlib
scikit-learn
theano
keras
nltk
bs4
tqdm
html5lib
urllib3
requests
zipline
ystockquote
realtime-stock
yahoo-finance
quandl
sqlalchemy
Scrapy
MySQL-python
joblib
ipython
jupyter
Django
